.info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  background: linear-gradient(145deg, #6a7ef9, #4c63d3);
  border-radius: 20px;
  border: 1px solid #5a6fb2;
  height: 80px;
  /* padding: 0.5rem; */
}

.icon {
  display: inline-block;
  margin-left: 0.5rem;
  color: white;
  font-size: 3rem;
}

.description,
.day {
  font-weight: 700;
  color: white;
  font-size: 0.9rem;
}

.temperature {
  font-weight: 700;
  color: #ffd700;
  margin-left: 0.5rem;
  font-size: 1rem;
}

@media (max-width: 768px) {
  .info,
  .icon {
    display: block;
    text-align: center;
  }

  .icon {
    margin-top: 0.5rem;
  }
}
