.info {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #333;
  width: 100%;
}

.icon {
  display: inline-block;
  margin-left: 0.5rem;
  color: white;
  font-size: 3rem;
}

.description,
.day {
  font-weight: 700;
  color: white;
}

.temperature {
  font-weight: 700;
  color: #ffd700; /* Example temperature color */
  margin-left: 0.5rem; /* Adds space between temperature and icon */
}

@media (max-width: 768px) {
  .container {
    flex-direction: column; /* Stack components vertically on small screens */
    align-items: center;
  }

  .info,
  .icon {
    display: block; /* Stack vertically in smaller screens */
    text-align: center;
  }

  .icon {
    margin-top: 0.5rem; /* Adds space between icon and other elements on smaller screens */
  }
}
