.header {
  padding: 2rem 10%;
  /* margin: 2rem 10%; */
  padding: 1rem;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #ece1fa;
}

.logo {
  font-size: 2rem;
  display: flex;
  gap: 1.5rem;
  align-items: center;
  color: #ece1fa;
}

.container {
  display: flex;
  gap: 1rem;
}

.input {
  display: block;
  width: 100%;
  font-size: 1.1rem;
  padding: 0.6rem;
  border-radius: 10px;
  border: 2px solid #d4b7f9;
  background-color: #f3e6f7;
  color: #4a3f56;
  flex: 1;
}

.input:focus {
  border-color: #7a4fcf;
  outline: none;
  box-shadow: 0 0 12px rgba(122, 79, 207, 0.6);
}

@keyframes shakeUpDown {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-2px);
  }
  50% {
    transform: translateY(2px);
  }
  75% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(0);
  }
}

.error {
  display: block;
  width: 100%;
  font-size: 1.1rem;
  padding: 0.6rem;
  border-radius: 10px;
  border: 2px solid #6d0b0b;
  background-color: #f9b8b8;
  color: #6d0b0b;
  animation: shakeUpDown 0.2s ease-in-out;
}

.error:focus {
  border-color: #d4b7f9;
  background-color: #f3e6f7;
}

.error::placeholder {
  color: #6d0b0b;
}
